/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  height: 90vh;
} */
h3 {
  color: seashell;
  margin-top: 15px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* .charts-wrapper {
  background: linear-gradient(60deg, #420285, #08bdbd);
  height: 10vh;
  height: 10%;
  width: 100%;
  display: flexbox;
  justify-content: center;
  color: seashell;
} */

.cube-container {
  /* background: linear-gradient(60deg, #420285, #08bdbd); */
  /* height: 10vh; */
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: seashell;
  height: 100%;
  width: 100%;
  display: flexbox;

  justify-content: center;
}

.cube-wrapper {
  /* background: linear-gradient(60deg, #420285, #08bdbd); */
  /* height: 150vh; */
  /* height: 10vh;
  width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  color: seashell;
  height: 10%;
  width: 100%;
  display: flexbox;
  justify-content: center;
  /* align-items: center; */
}

/* .cube-title {
  justify-content: center;
  display: flex;
  flex-direction: row;
} */
