.footer-wrapper {
  /* background: linear-gradient(60deg, #420285, #08bdbd); */
  /* height: 10vh;
  min-height: 10vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; */
  color: seashell;
}
